@media only screen and (max-width: 1000px) {
    .cookie-container {
        display: block;
        padding: 2%;
        width: 100%;
    }

    .cookie-btn-aceitar {
        background: #00364F;
        border: 0;
        color: #f5f6fa;
        padding: 12px 48px;
        font-size: 15px;
        width: 62vw;
        cursor: pointer;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .cookie-btn-entender-mais {
        background: #CADCB9;
        border: 0;
        color: #f5f6fa;
        padding: 12px 48px;
        font-size: 15px;
        width: 62vw;
        cursor: pointer;
    }

    .cookie-btn-container {
        margin-bottom: 20px;
        text-align: center;
    }
}